.container-south {
    padding: 30px;
    display: grid;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: 150px repeat(10, auto);
    grid-template-areas:
                "a"
                "b"
                "c"
                "d"
                "e"
                "f"
                "g"
                "h"
                "j"
                "i"
                "k"
                "l";
}

p {
    line-height: 30px;
    margin: 15px 0 15px 0;
    font-size: 13px;
}

.container-south__h1 {
    font-size: 80px;
    text-align: center;
}

#container-south__item-a {
    grid-area: a;
    justify-self: center;
}

#container-south__item-b {
    grid-area: b;
    width: 400px;
}

#container-south__item-c {
    grid-area: c;
}

#container-south__item-d {
    grid-area: d;
}

#container-south__item-e {
    grid-area: e;
}

#container-south__item-f {
    grid-area: f;
}

#container-south__item-g {
    grid-area: g;
    text-align: center;
}

#container-south__item-h {
    grid-area: h;
}

#container-south__item-i {
    grid-area: i;
}

#container-south__item-j {
    grid-area: j;
}

#container-south__item-k {
    grid-area: k;
}

#container-south__item-l {
    grid-area: l;
    text-align: center;
}

.container-south__item-quote {
    color: hsl(0, 59%, 41%);
}
