.container-south {
    padding: 20px;
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px auto 400px 500px;
    grid-template-areas:
                "a b"
                "empty b"
                "c d"
                "c e"
                "f e"
                "g e"
                "h i"
                "j k"
                "l l";
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;

}

p {
    margin: 15px 15px 15px 0;
}

#item-a {
    grid-area: a;
}

.item-empty {
    grid-area: empty;
}

#item-b {
    grid-area: b;
}

#item-c {
    grid-area: c;
}

#item-d {
    grid-area: d;
}

#item-e {
    grid-area: e;
}

#item-f {
    grid-area: f;
}

#item-g {
    grid-area: g;
    text-align: center;
}

#item-j {
    grid-area: j;
}

#item-k {
    grid-area: k;
}
#item-l {
    grid-area: l;
    text-align: center;
}

.map {
    width: 650px;
    height: auto;
}

.item-quote {
    text-align: start;
    color: hsl(0, 59%, 41%);
}

.item-text {
    margin-left: 100px;
    padding: 15px;
}