.image__resize {
    width: 600px;
    height: auto;
    object-fit: cover;
}

.image__resize:hover {
    transition: transform .10s, ease-in-out;
    transform: scale(1.1);
}

.image-container {
    width: 600px;
    height: auto;
    overflow: hidden;
}


/*header {*/
/*    !*position: absolute;*!*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background: url('../../assets/kirkjufellsfoss.jpg') no-repeat center center fixed;*/
/*    background-size: cover;*/
/*    color: white;*/
/*}*/

/*header h1 {*/
/*    font-size: 72px;*/
/*    padding: 48px 0;*/
/*    color: white;*/
/*}*/