.image__resize {
    width: 400px;
    height: auto;
    object-fit: cover;
}

.image__resize:hover {
    transition: transform .10s, ease-in-out;
    transform: scale(1.1);
}

.image-container {
    width: 400px;
    height: auto;
    overflow: hidden;
}


@media only screen and (min-width: 992px)  {
    .image__resize {
        width: 600px;
        height: auto;
        object-fit: cover;
    }

    .image__resize:hover {
        transition: transform .10s, ease-in-out;
        transform: scale(1.1);
    }

    .image-container {
        width: 600px;
        height: auto;
        overflow: hidden;
    }
}



