* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.home,
.hooglanden,
.noord,
.west,
.zuid {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}